@model OpenDiscussionPlatform.Models.ApplicationUser
@{
    ViewBag.Title = Model.UserName;
}


<h1>@ViewBag.Title</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<div class="panel panel-default">
    @if (Model.FirstName != null && Model.FirstName.Length > 0)
    {
        <div class="panel-heading">
            @Model.FirstName
            @if (Model.LastName != null && Model.LastName.Length > 0)
            {
                @Model.LastName
                <br />
            }
        </div>
    }

    <div class="panel-body">
        @if (Model.AboutMe != null)
        {
            <strong>Despre mine:</strong>
            @Model.AboutMe
            <br />
        }
        @Model.Email
        <br />
        @Model.RegisterDate
    </div>

    @if (ViewBag.currentUser == Model.Id)
    {
        <div class="panel-footer">
            <a class="btn btn-warning" href="/Account/Edit/@Model.Id">Editeaza profil</a>
        </div>
    }
</div>
