@model OpenDiscussionPlatform.Models.Subject
@{
    ViewBag.Title = Model.Title.ToString();
}


<div class="greybck">
    @if (Model.Image != null)
    {
        <img src="/Subjects/ShowImage/@Model.SubjectID" alt="" class="subjectimg img-responsive center-block" />
    }


    <h1 class="text-center"><strong>@Model.Title</strong></h1>

    @using (Html.BeginForm(actionName: "EditCategory", controllerName: "Subjects"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.Hidden("SubjectID")

        @Html.Hidden("Title")

        @Html.Hidden("Content")

        @Html.Hidden("Date")

        @Html.Hidden("UserID")

        <div class="text-center">
            @Html.DropDownList("CategoryId", new SelectList(Model.Categs, "Value", "Text"), null, new { @class = "form-control inline" })
            <button class="btn btn-success" type="submit">Modifica</button>
        </div>
    }

    <p class="orng text-center"> Scris de: @Html.ActionLink(linkText: (string)Model.User.UserName, actionName: "Show", controllerName: "Account", routeValues: new { id = Model.UserID }, htmlAttributes: null) </p>

    <div class="interior">
        <div class="intb">
            <span class="label label-info pull-right lb-md">@Model.Date</span>
            <div class="clearfix"></div>
            <br />

            <span class="font-style">@Model.Content</span>
            <div class="clearfix"></div>
            <br />
        </div>
    </div>
    <br />
</div>
