@model OpenDiscussionPlatform.Models.Subject
@{
    ViewBag.Title = Model.Title.ToString();
}

<div class="greybck">
    @if (Model.Image != null)
    {
        <img src="/Subjects/ShowImage/@Model.SubjectID" alt="" class="subjectimg img-responsive center-block" />
    }


    <h1 class="text-center"><strong>@Model.Title</strong></h1>
    <p class="text-center categ"><i class="glyphicon glyphicon-globe"></i> @Model.Category.Name <br /></p>
    <p class="orng text-center"> Scris de: @Html.ActionLink(linkText: (string)Model.User.UserName, actionName: "Show", controllerName: "Account", routeValues: new { id = Model.UserID }, htmlAttributes: null) </p>

    <div class="interior">
        <div class="intb">
            <a class="btn btn-primary pull-left" href="/Categories/Show/@Model.CategoryID">Inapoi la subiecte</a>
            <span class="label label-info pull-right lb-md">@Model.Date</span>
            <div class="clearfix"></div>
            <br />

            <span class="font-style">@Model.Content</span>
            <div class="clearfix"></div>
            <br />

            @if (ViewBag.currentUser == Model.UserID || ViewBag.isModerator || ViewBag.isAdmin)
            {
                if (ViewBag.currentUser == Model.UserID)
                {
                    <a class="btn btn-warning" href="/Subjects/Edit/@Model.SubjectID">Editeaza subiect</a>
                }

                if (ViewBag.isModerator || ViewBag.isAdmin)
                {
                    <a class="btn btn-warning" href="/Subjects/EditCategory/@Model.SubjectID">Schimba categoria</a>
                }

                using (Html.BeginForm(actionName: "Delete", controllerName: "Subjects", routeValues: new { id = Model.SubjectID }, method: FormMethod.Post, htmlAttributes: new { @class = "pull-right" }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger" type="submit">Sterge subiect</button>
                }
                <div class="clearfix"></div>
            }
        </div>
    </div>
    <br />
</div>
<br />


@using (Html.BeginForm("Show", "Subjects", FormMethod.Get, new { @class = "form-horizontal sortare" }))
{
    var selectList = new List<SelectListItem>();
    selectList.Add(new SelectListItem { Value = "dateAsc", Text = "Noutate (cele mai vechi)" });
    selectList.Add(new SelectListItem { Value = "dateDesc", Text = "Noutate (cele mai noi)" });

    <div class="form-group">
        @Html.Label("sort", "Sortare", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownList("sort", new SelectList(selectList, "Value", "Text"), null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-default">Sorteaza</button>
    </div>
}
<br />

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

@foreach (var reply in ViewBag.Replies)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="user-style">
                @Html.ActionLink(linkText: (string)reply.User.UserName, actionName: "Show", controllerName: "Account", routeValues: new { id = reply.UserID }, htmlAttributes: null)
            </span>
            <span class="pull-right user-style"><small>@reply.Date</small></span>
        </div>
        <div class="panel-body">
            @reply.Content
            <br />
        </div>

        @if (ViewBag.currentUser == reply.UserID || User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {
            <div class="panel-footer">
                @if (ViewBag.currentUser == reply.UserID)
                {
                    <a class="btn btn-warning btn-sm" href="/Replies/Edit/@reply.ReplyID">Editeaza</a>
                }
                @if (ViewBag.currentUser == reply.UserID || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                {
                    <form method="post" class="pull-right" action="/Replies/Delete/@reply.ReplyID">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="btn btn-danger btn-sm" type="submit">Sterge</button>
                    </form>
                }
                <div class="clearfix"></div>
            </div>

        }
    </div>
}

@if (User.IsInRole("User") || User.IsInRole("Moderator") || User.IsInRole("Admin"))
{
    <form method="post" action="/Subjects/Show/@Model.SubjectID">
        <div class="panel panel-default">
            <div class="panel-body">
                <textarea class="form-control" id="Content" name="Content"></textarea>
                @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
                <br />

                <input name="SubjectID" type="hidden" value="@Model.SubjectID" />

                <button class="btn btn-success " type="submit">Adauga raspuns</button>
            </div>
        </div>
    </form>
}
