@model OpenDiscussionPlatform.Models.Category
@{
    ViewBag.Title = Model.Name.ToString();
}

<h1>@ViewBag.Title</h1>


<a class="btn btn-primary" href="/Categories/Index">Inapoi la categorii</a>
<br />
<br />


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>@Model.Name</strong></h3>
    </div>
    <div class="panel-body">
        @Model.Description
    </div>
    @if (ViewBag.isAdmin)
    {
        <div class="panel-footer">
            <a class="btn btn-warning" href="/Categories/Edit/@Model.CategoryID">Editeaza categorie</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Categories", routeValues: new { id = Model.CategoryID }, method: FormMethod.Post, htmlAttributes: new { @class = "pull-right" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger" type="submit">Sterge categorie</button>
            }
        </div>
    }
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<a class="btn btn-primary" href="/Subjects/New/@Model.CategoryID">Subiect nou</a>
<br />
<br />

@foreach (OpenDiscussionPlatform.Models.Subject subject in Model.Subjects)
{
    <div class="panel panel-default">
        @Html.Partial("SubjectInfo", subject)

        <div class="panel-footer">
            <a class="btn btn-success btn-sm" href="/Subjects/Show/@subject.SubjectID">Afisare subiect</a>
        </div>
    </div>
}
